/* stylelint-disable-next-line block-opening-brace-space-before */
.NotFoundPage{
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--font-l);
    height: 100%;
}
