.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff84;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #4f6dc7;

    // card
    --card-bg: #1b1b88;
}
