.app_marine_theme {
    --bg-color: #F4FBFB;
    --inverted-bg-color: #027577;
    --primary-color: #027577;
    --secondary-color: #F4FBFB;
    --inverted-primary-color: #F4FBFB;
    --inverted-secondary-color: #F4FBFB;
}

// cadetblue