.app_marine_theme {
    --bg-color: #f4fbfb;
    --inverted-bg-color: #027577;
    --primary-color: #027577;
    --secondary-color: #f4fbfb;
    --inverted-primary-color: #f4fbfb;
    --inverted-secondary-color: #f4fbfb;
}

// cadetblue
