.app_marine_theme {
    --bg-color: #f4fbfb;
    --inverted-bg-color: #027577;
    --primary-color: #027577;
    --secondary-color: #1bba92;
    --inverted-primary-color: #f4fbfb;
    --inverted-secondary-color: #f4fbfb;

    // skeleton

    --skeleton-color: #cdf9ef;
    --skeleton-shadow: #b6fcee;

    // code

    --code-bg: #f0f0f5;
}
